flows.json
[{"id":"d1732452.437c48","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8f7224f4.8b62c8","type":"ui_form","z":"d1732452.437c48","name":"","label":"","group":"abf85082.14a46","order":0,"width":0,"height":0,"options":[{"label":"Your Name","value":"name","type":"text","required":true,"rows":null},{"label":"Email id","value":"email","type":"email","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":120,"wires":[["5f3f3870.e4c578","c3620ec5.e9f8e"]]},{"id":"5f3f3870.e4c578","type":"debug","z":"d1732452.437c48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":260,"y":60,"wires":[]},{"id":"c3620ec5.e9f8e","type":"function","z":"d1732452.437c48","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    email:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":120,"wires":[["3c2a8a86.f7e6f6"]]},{"id":"3c2a8a86.f7e6f6","type":"cloudant out","z":"d1732452.437c48","name":"cloudant","cloudant":"","database":"user_data","service":"node-red-gefnn-2020--cloudant-1597924006576-76918","payonly":true,"operation":"insert","x":460,"y":120,"wires":[]},{"id":"be7aeffa.15cd4","type":"ui_form","z":"d1732452.437c48","name":"","label":"","group":"2c0bdb06.129034","order":0,"width":0,"height":0,"options":[{"label":"Enter email","value":"email","type":"text","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":240,"wires":[["738b8ced.0244b4"]]},{"id":"738b8ced.0244b4","type":"function","z":"d1732452.437c48","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":240,"wires":[["a00d4bdf.7c0c78"]]},{"id":"a00d4bdf.7c0c78","type":"function","z":"d1732452.437c48","name":"","func":"var emailid=global.get('emailid');\nmsg.payload=\"emailid:\"+emailid;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":240,"wires":[["9437d99e.e4d268"]]},{"id":"9437d99e.e4d268","type":"cloudant in","z":"d1732452.437c48","name":"","cloudant":"","database":"user_data","service":"node-red-gefnn-2020--cloudant-1597924006576-76918","search":"_idx_","design":"user","index":"user","x":620,"y":240,"wires":[["1135799d.bbd146"]]},{"id":"1135799d.bbd146","type":"function","z":"d1732452.437c48","name":"","func":"if(msg.payload[0].password===global.get('password')){\n    msg.payload='Login Successful';\n    \n}\nelse{\n     msg.payload='Login failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":160,"wires":[["84691d29.b1ba3"]]},{"id":"84691d29.b1ba3","type":"ui_text","z":"d1732452.437c48","group":"2c0bdb06.129034","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":240,"wires":[]},{"id":"a068e5e9.9948c8","type":"function","z":"d1732452.437c48","name":"","func":"msg.payload = msg.payload.input;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":360,"wires":[["4a51ce0a.a87ab"]]},{"id":"9c9ce16f.ea963","type":"ui_form","z":"d1732452.437c48","name":"","label":"","group":"6983ef98.23858","order":1,"width":0,"height":0,"options":[{"label":"User input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":360,"wires":[["a068e5e9.9948c8"]]},{"id":"4a51ce0a.a87ab","type":"watson-conversation-v1","z":"d1732452.437c48","name":"","workspaceid":"fc832366-e945-464f-bc86-f20bcb0f35ba","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":410,"y":360,"wires":[["90a2a192.102c9","9f08e78b.e58938"]]},{"id":"90a2a192.102c9","type":"debug","z":"d1732452.437c48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":320,"wires":[]},{"id":"9f08e78b.e58938","type":"function","z":"d1732452.437c48","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":400,"wires":[["2e385cb0.9662a4"]]},{"id":"2e385cb0.9662a4","type":"ui_text","z":"d1732452.437c48","group":"6983ef98.23858","order":2,"width":"6","height":"6","name":"","label":"Bot Response:","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":400,"wires":[]},{"id":"abf85082.14a46","type":"ui_group","z":"","name":"Registration form","tab":"33cbce21.fd9bd2","order":1,"disp":true,"width":"6","collapse":false},{"id":"2c0bdb06.129034","type":"ui_group","z":"","name":"Login form","tab":"c74df8a6.cd7018","order":1,"disp":true,"width":"6","collapse":false},{"id":"6983ef98.23858","type":"ui_group","z":"","name":"Bot","tab":"e891f29b.0b2c7","order":1,"disp":true,"width":"6","collapse":false},{"id":"33cbce21.fd9bd2","type":"ui_tab","z":"","name":"Registration page","icon":"dashboard","disabled":false,"hidden":false},{"id":"c74df8a6.cd7018","type":"ui_tab","z":"","name":"Login Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"e891f29b.0b2c7","type":"ui_tab","z":"","name":"CustomerHelp","icon":"dashboard","disabled":false,"hidden":false}]